**/target/classes/
**/target/generated-sources/
**/target/maven-status/
**/target/test-classes/
**/target/surefire-reports/
**/target/*.jar.original
**/.git/
**/.idea/
**/*.iml
**/node_modules/
**/docker/mysql-data/
**/docker/es-data/
**/docker/redis-data/
**/docker/nacos-data/
*.log
*.tmp
.gitignore
README.md
